/*Student Name: Rubie Benavides
  Date: 7 Decemebr 2020*/
body{
  background: lightblue;
  text-align: center;
}
.wrapper{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
img{
  transform:  rotateZ(-90deg) translateY(200px) scale(2);
}
.circle{
  width: 100px;
  padding: 50px 0;
  line-height: 0;
  margin: 60px auto;
  background: pink;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: background 1s, transform 0.3s 1s linear;
}
.circle:hover{
  background: salmon;
  transform: rotate(360deg);
}