/* Rubie Benavides 30 October 2020*/
@font-face {
    font-family: 'quaerite_regnum_deiregular';
    src: url('quaeriteregnumdei-webfont.woff2') format('woff2'),
         url('quaeriteregnumdei-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
#outerwrapper {
	margin-left: auto;
    margin-right: auto;
    width: 80%;
} 

.floatleft { 
float: left;
margin-right: 3%;
}

.floatright {
float: right;
margin-left: 3%;
}
main, footer { 
clear: both;
}
body{
    background-color: #B8D1EB;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
}
main{
    background-color: #c5a98b;
    padding: 10px;
}
h1{
    font-family: 'Architects Daughter', Impact, 'Arial Narrow Bold', sans-serif, cursive;
    font-size: 50px;
}
h2{
    font-family: 'quaerite_regnum_deiregular', 'Times New Roman', Times, serif;
    font-weight: normal;
    font-style: italic;
}
li{
    list-style-image: url('../images/tomato.png');
}
img{
    background-color: red;
}
footer{
    font-size: .75em;
    text-align: center;
    background-color: plum;
    padding-top: 10px;
    padding-bottom: 10px;
}