nav{
    display: table;
    width: 100%;
}
nav > ul{
    display: table-row;
}
nav > ul > li{
    display: table-cell;
    text-align: center;
}
nav > ul > li > a{
    display: block;
}
